// Just sprinkle a little sugar on dat
@mixin smooth-text-dark {
  text-shadow: 0 0 1px rgba(0,0,0,.1);
}

@mixin smooth-text-light {
  text-shadow: 0 0 1px rgba(255,255,255,.1);
}

// Border radius lovin
@mixin border-radius ($radii) {
  -webkit-border-radius: $radii;
     -moz-border-radius: $radii;
      -ms-border-radius: $radii;
       -o-border-radius: $radii;
          border-radius: $radii;
}

// My most favorite - the transition
@mixin transition ($property:all, $time:.3s, $easing:ease-in-out) {
  -webkit-transition: $property $time $easing;
     -moz-transition: $property $time $easing;
      -ms-transition: $property $time $easing;
       -o-transition: $property $time $easing;
          transition: $property $time $easing;
}

// Legacy support for inline-block in IE7
@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

// Box shadowz - simple format because I'm using inset
@mixin box-shadow ($params) {

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
      -ms-box-shadow: $params;
       -o-box-shadow: $params;
          box-shadow: $params;
}

// The one and only css gradient, was absolutely necessary b/c of variable heights.
// Still looks fine without it in IE b/c of borders
@mixin list-row-gradient {
  background: #525252;
  background: -moz-linear-gradient(top, #525252 0%, #454545 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#454545));
  background: -webkit-linear-gradient(top, #525252 0%,#454545 100%);
  background: -o-linear-gradient(top, #525252 0%,#454545 100%);
  background: -ms-linear-gradient(top, #525252 0%,#454545 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#454545',GradientType=0 );
  background: linear-gradient(top, #525252 0%,#454545 100%);
  border-top: 1px solid #646464;
  border-bottom: 1px solid #3B3B3B;
}

@mixin list-row-gradient-light {
  background: #dedede;
  background: -moz-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#cdcdcd));
  background: -webkit-linear-gradient(top, #dedede 0%,#cdcdcd 100%);
  background: -o-linear-gradient(top, #dedede 0%,#cdcdcd 100%);
  background: -ms-linear-gradient(top, #dedede 0%,#cdcdcd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#cdcdcd',GradientType=0 );
  background: linear-gradient(top, #dedede 0%,#cdcdcd 100%);
}

@mixin list-row-gradient-light-odd {
  background: #cdcdcd;
  background: -moz-linear-gradient(top, #bebebe 0%, #b8b8b8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(100%,#b8b8b8));
  background: -webkit-linear-gradient(top, #bebebe 0%,#b8b8b8 100%);
  background: -o-linear-gradient(top, #bebebe 0%,#b8b8b8 100%);
  background: -ms-linear-gradient(top, #bebebe 0%,#b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#b8b8b8',GradientType=0 );
  background: linear-gradient(top, #bebebe 0%,#b8b8b8 100%);
}