p {
  margin-top: 0; }

body {
  width: 760px;
  height: 1106px;
  background: url(../images/bg.jpg) no-repeat;
  font-family: 'myriad-pro'; }

.col {
  float: left; }

a.btn-yellow {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: url(../images/btn-yellow-bg.png) repeat-x;
  border: 1px solid #877638;
  color: #202020;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none; }
  a.btn-yellow:hover {
    background-position: 0 -27px; }

a.btn-red {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
  background: url(../images/button-bg.png) repeat-x;
  border: 1px solid #262626;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 170px; }
  a.btn-red:hover {
    background-position: 0 -30px; }
  a.btn-red.pick-player {
    margin-bottom: 30px;
    clear: both; }
  a.btn-red.continue-challenge {
    float: right;
    text-transform: none;
    font-size: 14px !important;
    padding: 6px 20px;
    width: auto;
    margin-right: 0 !important; }

a.btn-grey {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/btn-grey.png) repeat-x;
  color: #2d2d2d;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  margin: 0 auto;
  padding: 9px 10px 9px;
  text-align: center;
  text-decoration: none;
  text-shadow: none; }
  a.btn-grey:hover {
    background-position: 0 -38px; }
  a.btn-grey#create-challenge {
    width: 215px; }
    a.btn-grey#create-challenge span {
      font-size: 11px; }

#top-bar {
  height: 37px;
  background: url(../images/top-bar.png) repeat-x;
  font-size: 14px;
  color: #fff; }
  #top-bar .right {
    float: right;
    overflow: hidden;
    padding-top: 7px;
    margin-right: 15px; }
    #top-bar .right .sign-out {
      padding-right: 19px; }
  #top-bar a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    padding-top: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #top-bar a.new-challenge {
      float: left;
      overflow: hidden;
      margin-left: 15px; }
    #top-bar a:hover {
      color: #F9BB29; }

#logo {
  width: 600px;
  height: 81px;
  background: url(../images/logo.png) no-repeat;
  display: block; }

#wrapper {
  width: 730px;
  margin: 0 auto; }

.corners {
  position: relative; }
  .corners:after {
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    border-bottom: 8px dashed transparent;
    border-right: 8px solid #1E1301;
    position: absolute;
    bottom: -8px;
    left: 1px; }
  .corners:before {
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    border-bottom: 8px dashed transparent;
    border-left: 8px solid #1E1301;
    position: absolute;
    bottom: -8px;
    right: 1px; }

.hilight-box {
  background: #f8b726 url(../images/hilight-box.png) repeat-x;
  overflow: hidden;
  border-top: 1px solid #FDEB9F;
  border-bottom: 1px solid #1E1604;
  border-left: 1px solid #E1B733;
  border-right: 1px solid #E1B733;
  position: relative;
  margin-top: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4); }
  .hilight-box#challenges {
    padding: 0 20px; }
    .hilight-box#challenges img {
      float: left;
      margin: 15px 20px 10px 0; }
    .hilight-box#challenges h1 {
      float: left;
      font-size: 1.7em;
      padding-top: 5px;
      text-transform: uppercase; }
  .hilight-box .decision-maker {
    text-decoration: none;
    clear: both;
    display: block;
    background: url(../images/decision-maker-bar.png) repeat-x;
    margin-bottom: 20px;
    color: white;
    overflow: hidden; }
    .hilight-box .decision-maker .text {
      display: inline-block;
      float: left;
      padding: 5px;
      padding-left: 120px;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); }
    .hilight-box .decision-maker .img {
      float: right;
      margin-right: 122px;
      margin-top: 4px; }
  .hilight-box .status {
    position: absolute;
    bottom: 4px;
    left: 5px;
    font-size: 11px;
    color: #3A3A3A;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); }
  .hilight-box .private {
    background: url(../images/lock.png) 0 1px no-repeat;
    padding-left: 14px; }
  .hilight-box .closed {
    height: 20px;
    padding-top: 10px; }
  .hilight-box .open-till {
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-size: 11px;
    color: #3A3A3A;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); }
  .hilight-box h1 {
    font-size: 2.1em;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    margin-top: 20px; }
  .hilight-box .content {
    width: 550px;
    margin: 10px auto; }
  .hilight-box .left, .hilight-box .right, .hilight-box .center {
    overflow: hidden;
    width: 240px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    padding-bottom: 32px; }
    .hilight-box .left h2, .hilight-box .right h2, .hilight-box .center h2 {
      margin: 5px 0;
      font-weight: normal; }
    .hilight-box .left strong, .hilight-box .right strong, .hilight-box .center strong {
      margin-bottom: 3px;
      display: block; }
  .hilight-box .center {
    margin: 0 auto;
    width: auto; }
  .hilight-box .left {
    float: left;
    text-align: right; }
    .hilight-box .left .player-photo {
      float: right;
      margin-left: 12px; }
  .hilight-box .choose {
    background: white;
    /* The Fallback */
    background: rgba(255, 255, 255, 0.3);
    height: 44px;
    margin-bottom: 10px;
    padding-top: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .hilight-box .choose h2 {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
      padding-bottom: 2px; }
  .hilight-box .right {
    float: right; }
    .hilight-box .right .player-photo {
      float: left;
      margin-right: 12px; }

.or {
  float: left;
  font-size: 2em;
  font-style: italic;
  margin-left: 20px;
  margin-top: 17px; }

.player-photo {
  border: 1px solid white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border-radius: 2px; }
  .player-photo.small {
    max-width: 40px; }

.details {
  overflow: hidden; }
  .details .custom-select .box {
    font-size: 20px; }
  .details .custom-select .arrow {
    top: 18px;
    right: 5px; }
  .details .custom-select .divider {
    top: 6px;
    right: 24px; }
  .details .custom-select.sp_smaller .box {
    font-size: 14px; }
  .details .custom-select.sp_smaller .arrow {
    top: 14px;
    right: 2px; }
  .details .custom-select.sp_smaller .divider {
    top: 1px;
    right: 20px; }
  .details .custom-select .lighter-custom .box, .details .custom-select .lighter2-custom .box {
    font-size: 14px; }
  .details .custom-select .lighter-custom .arrow, .details .custom-select .lighter2-custom .arrow {
    top: 14px;
    right: 2px; }
  .details .custom-select .lighter-custom .divider, .details .custom-select .lighter2-custom .divider {
    top: 1px;
    right: 20px; }
  .details .decision-maker-featured {
    display: block;
    width: 172px;
    height: 47px;
    background: url("../images/featured-decision-maker.png") no-repeat;
    float: right;
    margin-right: 10px !important; }
    .details .decision-maker-featured:hover {
      background-position: 0 -47px; }
  .details .contain {
    width: 450px;
    overflow: hidden;
    float: left; }
  .details .left, .details .right {
    overflow: hidden;
    min-width: 193px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    padding-bottom: 7px;
    padding-top: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px; }
    .details .left h2, .details .right h2 {
      margin: 0;
      font-weight: bold;
      font-size: 17px; }
    .details .left strong, .details .right strong {
      margin-bottom: 1px;
      margin-top: 5px;
      display: block;
      font-weight: normal; }
    .details .left p, .details .right p {
      margin-bottom: 4px; }
    .details .left .custom-radio, .details .right .custom-radio {
      margin-top: 2px; }
  .details .left {
    float: left;
    text-align: right; }
    .details .left .player-photo {
      float: right;
      margin: 5px 12px 0 12px;
      max-height: 70px; }
    .details .left .custom-radio {
      margin-right: -3px; }
  .details .choose {
    background: white;
    /* The Fallback */
    background: rgba(255, 255, 255, 0.3);
    height: 44px;
    margin-bottom: 10px;
    padding-top: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .details .choose h2 {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
      padding-bottom: 2px; }
  .details .or {
    margin-top: 30px;
    margin-left: 15px; }
  .details .right {
    float: left;
    margin-left: 15px; }
    .details .right .player-photo {
      float: left;
      margin: 5px 12px 0 12px;
      max-height: 70px; }
    .details .right .custom-radio {
      margin-left: -3px; }

.intro {
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  width: 692px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #000;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden; }
  .intro .text {
    float: left; }
  .intro p {
    color: #E5E5E5;
    font-size: 14px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.9);
    width: 460px;
    line-height: 1.4em;
    margin-bottom: 5px; }
  .intro h1 {
    margin: 0 0 12px 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    font-size: 22px; }
  .intro img {
    float: right;
    margin-right: 50px;
    margin-top: 5px; }

#main-2 {
  width: 732px;
  margin: 0 auto;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #000;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 15px;
  padding-top: 20px; }

#main {
  -webkit-box-shadow: 0 -1px 4px black;
  -moz-box-shadow: 0 -1px 4px black;
  -ms-box-shadow: 0 -1px 4px black;
  -o-box-shadow: 0 -1px 4px black;
  box-shadow: 0 -1px 4px black;
  width: 712px;
  margin: 0 auto;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden; }
  #main .box {
    background: url(../images/tabs-bg.png) repeat;
    border-bottom: 1px solid #111;
    border-radius: 5px;
    border-top: 1px solid #787977;
    clear: both;
    margin-top: 10px;
    padding: 0 10px; }
  #main ul.challenges {
    list-style: none;
    padding: 0; }
    #main ul.challenges li {
      clear: both;
      padding: 15px 20px 15px 0;
      position: relative; }
      #main ul.challenges li .col {
        float: left;
        padding-left: 20px; }
        #main ul.challenges li .col.left {
          width: 510px; }
      #main ul.challenges li .heading {
        font-size: 1.2em;
        margin-bottom: 3px;
        width: 510px; }
      #main ul.challenges li a {
        font-size: 0.9em;
        font-weight: bold;
        padding-left: 19px; }
      #main ul.challenges li .time {
        height: 16px;
        bottom: 50%;
        position: absolute;
        top: 40%;
        text-align: right;
        width: 120px; }
    #main ul.challenges.current {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      background: #2f2f2f;
      border: 1px solid #1f1f1f;
      padding: 5px;
      text-shadow: 0 1px 1px white; }
      #main ul.challenges.current li {
        background: #dedede;
        background: -moz-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #cdcdcd));
        background: -webkit-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
        background: -o-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
        background: -ms-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#cdcdcd',GradientType=0 );
        background: linear-gradient(top, #dedede 0%, #cdcdcd 100%);
        border-bottom: 1px solid #939393;
        border-top: 1px solid #eee;
        color: #222; }
        #main ul.challenges.current li.odd {
          background: #cdcdcd;
          background: -moz-linear-gradient(top, #bebebe 0%, #b8b8b8 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bebebe), color-stop(100%, #b8b8b8));
          background: -webkit-linear-gradient(top, #bebebe 0%, #b8b8b8 100%);
          background: -o-linear-gradient(top, #bebebe 0%, #b8b8b8 100%);
          background: -ms-linear-gradient(top, #bebebe 0%, #b8b8b8 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebebe', endColorstr='#b8b8b8',GradientType=0 );
          background: linear-gradient(top, #bebebe 0%, #b8b8b8 100%); }
      #main ul.challenges.current a {
        background: url(../images/icon-link-red.png) no-repeat 0 70%;
        color: #990000; }
    #main ul.challenges.previous {
      border: 1px solid #3B3B3B;
      text-shadow: 0 1px -1px rgba(0, 0, 0, 0.6); }
      #main ul.challenges.previous li {
        background: #525252;
        background: -moz-linear-gradient(top, #525252 0%, #454545 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #454545));
        background: -webkit-linear-gradient(top, #525252 0%, #454545 100%);
        background: -o-linear-gradient(top, #525252 0%, #454545 100%);
        background: -ms-linear-gradient(top, #525252 0%, #454545 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#454545',GradientType=0 );
        background: linear-gradient(top, #525252 0%, #454545 100%);
        border-top: 1px solid #646464;
        border-bottom: 1px solid #3B3B3B;
        border-top: 1px solid #646464;
        border-bottom: 1px solid #3B3B3B;
        color: #fff; }
        #main ul.challenges.previous li .col {
          padding-left: 45px; }
          #main ul.challenges.previous li .col.left {
            width: 466px; }
          #main ul.challenges.previous li .col.success {
            background: url(../images/success.png) no-repeat 10px 50%; }
      #main ul.challenges.previous a {
        background: url(../images/icon-link-yellow.png) no-repeat 0 70%;
        color: #ffcc00; }
  #main .your-pick {
    float: left; }
    #main .your-pick p.num {
      font-size: 42px;
      text-align: center; }
  #main .sub-box {
    width: 352px;
    overflow: hidden;
    margin-top: 17px;
    background: #DBDBDB;
    height: 154px;
    margin-bottom: 40px; }
    #main .sub-box h1 {
      color: white;
      margin: 0;
      text-transform: uppercase;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
      font-size: 1.5em;
      padding: 4px 0 6px 20px;
      background: #2b2b2b url(../images/sub-box-top.png) repeat-x; }
    #main .sub-box h3 {
      color: #343434;
      padding-top: 18px; }
    #main .sub-box .player-photo, #main .sub-box .trophy {
      float: left;
      overflow: hidden;
      margin-right: 15px;
      margin-left: 20px;
      margin: 0 15px 25px 20px; }
    #main .sub-box .trophy {
      margin-top: 10px;
      margin-right: 25px; }
    #main .sub-box .left {
      margin: 18px 0;
      text-shadow: 0 1px 1px white;
      padding-right: 20px; }
      #main .sub-box .left h2 {
        margin: 0 0 1px 0;
        padding-top: 4px;
        font-weight: normal; }
      #main .sub-box .left p {
        margin-bottom: 1px;
        color: #5E5E5E; }
      #main .sub-box .left .btn-yellow {
        margin-top: 5px;
        width: 215px; }
  #main .the-stakes {
    float: right;
    background: url(../images/stakes-bg.png) no-repeat;
    padding-bottom: 20px; }
  #main .msg {
    background: #525252;
    background: -moz-linear-gradient(top, #525252 0%, #454545 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #454545));
    background: -webkit-linear-gradient(top, #525252 0%, #454545 100%);
    background: -o-linear-gradient(top, #525252 0%, #454545 100%);
    background: -ms-linear-gradient(top, #525252 0%, #454545 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#454545',GradientType=0 );
    background: linear-gradient(top, #525252 0%, #454545 100%);
    border-top: 1px solid #646464;
    border-bottom: 1px solid #3B3B3B;
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 25px;
    padding: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
  #main.pick_won .your-pick h1 {
    background: #4f8146 url(../images/sub-box-top-success.png) repeat-x; }
  #main.pick_won .your-pick .left {
    background: url(../images/icon-checkmark.png) no-repeat 95% 25%; }
  #main.pick_won .the-stakes {
    background: url(../images/stakes-bg-success.png) no-repeat; }
  #main.pick_lost .your-pick h1 {
    background: #a53430 url(../images/sub-box-top-loss.png) repeat-x; }
  #main.pick_lost .your-pick .left {
    background: url(../images/icon-xmark.png) no-repeat 95% 25%; }

.your-pick .pending h2 {
  color: #7a7a7a;
  font-size: 1.8em;
  font-weight: bold !important;
  text-transform: uppercase;
  margin: 0 20px !important; }
.your-pick .pending h3 {
  color: #7a7a7a !important;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 20px;
  padding: 0 !important; }

.login .hilight-box h1 {
  font-weight: normal;
  margin: 20px auto;
  padding-bottom: 20px;
  width: 540px; }
.login #main {
  padding: 40px 25px 20px;
  text-align: center;
  width: 682px; }
.login h3 {
  color: #fff;
  font-size: 1.6em;
  font-weight: normal;
  margin: 20px 0;
  text-transform: uppercase; }
.login .login-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/bg-gray-login-box.jpg) repeat-x;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
  width: 230px; }
  .login .login-box h2 {
    font-size: 1.3em;
    margin-top: 5px; }
  .login .login-box .button {
    background: url(../images/icon-group.png) no-repeat 0 50%;
    padding: 5px 0 0 20px; }

/* dropdowns */
.yellow {
  color: #FBD346; }

.italic {
  font-style: italic; }

.dropdown {
  padding: 10px 0;
  background: #525252;
  background: -moz-linear-gradient(top, #525252 0%, #454545 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #454545));
  background: -webkit-linear-gradient(top, #525252 0%, #454545 100%);
  background: -o-linear-gradient(top, #525252 0%, #454545 100%);
  background: -ms-linear-gradient(top, #525252 0%, #454545 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#454545',GradientType=0 );
  background: linear-gradient(top, #525252 0%, #454545 100%);
  border-top: 1px solid #646464;
  border-bottom: 1px solid #3B3B3B;
  overflow: hidden;
  cursor: pointer; }
  .dropdown ol {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .dropdown .expand, .dropdown .contract {
    display: block;
    width: 18px;
    height: 19px;
    float: left;
    margin: 0 9px; }
  .dropdown .expand {
    background: url(../images/plus.png); }
  .dropdown .contract {
    background: url(../images/minus.png); }
  .dropdown .heading {
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    float: right;
    width: 665px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .dropdown .details {
    display: none;
    clear: both;
    padding: 10px 0 0 38px;
    color: white; }
    .dropdown .details .btn-red {
      width: auto;
      padding: 4px 25px;
      text-transform: none;
      font-size: 14px;
      float: right;
      margin-top: 40px;
      margin-right: 15px; }

.dropdown:last-child {
  border-bottom: none; }

.tabs {
  clear: both;
  background: url(../images/tabs-bg.png) repeat;
  min-height: 340px;
  border-top: 1px solid;
  border-radius: 3px;
  position: relative;
  margin-top: 30px;
  padding-bottom: 1px; }
  .tabs ul.tablist {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -45px;
    left: 0; }
    .tabs ul.tablist li {
      list-style-type: none;
      margin: 2px 0px 0 4px;
      cursor: pointer;
      background: url("../images/inactive-left.png") no-repeat left top;
      float: left;
      position: relative; }
      .tabs ul.tablist li a {
        background: url("../images/inactive-right.png") no-repeat right top;
        display: block;
        margin-right: -4px;
        margin-top: 4px;
        padding: 9px 13px;
        text-decoration: none; }
        .tabs ul.tablist li a h1 {
          margin: -3px 0 0 0;
          text-transform: uppercase;
          font-size: 18px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          color: white;
          padding-left: 40px;
          padding-right: 6px; }
        .tabs ul.tablist li a .icon {
          width: 32px;
          height: 22px;
          display: block;
          position: absolute;
          top: 12px;
          left: 13px;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
        .tabs ul.tablist li a .megaphone {
          background: url(../images/trash-talk-icon-inactive.png) no-repeat; }
        .tabs ul.tablist li a .challengers {
          background: url(../images/challengers-icon-inactive.png) no-repeat; }
        .tabs ul.tablist li a .ribbon {
          background: url(../images/featured-icon-inactive.png) no-repeat;
          height: 37px;
          top: 4px; }
        .tabs ul.tablist li a .build {
          background: url(../images/build-icon-inactive.png) no-repeat; }
      .tabs ul.tablist li.active {
        background: url("../images/active-left.png") no-repeat left top;
        margin-top: 0;
        margin-right: 4px; }
        .tabs ul.tablist li.active a {
          margin-right: -7px;
          margin-top: 0;
          background: url("../images/active-right.png") no-repeat right top; }
          .tabs ul.tablist li.active a h1 {
            margin: 3px 0 2px 0;
            color: #F3CF4C;
            padding-right: 10px; }
          .tabs ul.tablist li.active a .icon {
            top: 14px; }
          .tabs ul.tablist li.active a .megaphone {
            background: url(../images/trash-talk-icon-active.png) no-repeat; }
          .tabs ul.tablist li.active a .challengers {
            background: url(../images/challengers-icon-active.png) no-repeat; }
          .tabs ul.tablist li.active a .ribbon {
            background: url(../images/featured-icon-active.png) no-repeat;
            top: 4px; }
          .tabs ul.tablist li.active a .build {
            background: url(../images/build-icon-active.png) no-repeat;
            height: 26px;
            top: 13px; }
  .tabs .challenges {
    width: 704px;
    margin: 15px 0 15px 12px;
    border: 1px solid #3B3B3B; }
  .tabs .featured {
    width: 684px;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    background: #fff; }
    .tabs .featured .intro-text {
      font-size: 16px;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
      padding-top: 20px;
      padding-left: 10px;
      float: left;
      max-width: 490px; }
    .tabs .featured .details {
      color: #444; }
    .tabs .featured .sponsor {
      float: right;
      text-align: center;
      padding: 14px 20px;
      color: #3D3D3D;
      font-style: italic;
      font-size: 12px; }
      .tabs .featured .sponsor img {
        margin-top: 7px;
        display: block; }
    .tabs .featured .dropdown {
      background: #dedede;
      background: -moz-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #cdcdcd));
      background: -webkit-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
      background: -o-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
      background: -ms-linear-gradient(top, #dedede 0%, #cdcdcd 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#cdcdcd',GradientType=0 );
      background: linear-gradient(top, #dedede 0%, #cdcdcd 100%);
      border-top: 1px solid #939393;
      border-bottom: none; }
      .tabs .featured .dropdown .heading {
        color: #272727;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        width: 645px; }
    .tabs .featured .dropdown:last-child {
      border-bottom: 1px solid #939393; }
  .tabs .content {
    background: #2F2F2F;
    width: 670px;
    height: 279px;
    margin: 10px;
    -webkit-box-shadow: inset 0 0 5px black;
    -moz-box-shadow: inset 0 0 5px black;
    -ms-box-shadow: inset 0 0 5px black;
    -o-box-shadow: inset 0 0 5px black;
    box-shadow: inset 0 0 5px black;
    overflow-y: scroll; }
    .tabs .content .friend-box {
      background: #E5E5E5;
      width: 200px;
      height: 88px;
      position: relative;
      margin-left: 15px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 0 3px black;
      -moz-box-shadow: 0 0 3px black;
      -ms-box-shadow: 0 0 3px black;
      -o-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black;
      float: left;
      overflow: hidden; }
      .tabs .content .friend-box img {
        float: left;
        overflow: hidden;
        padding: 7px 10px 0 5px; }
      .tabs .content .friend-box .vote {
        background: #FFFFFF;
        border-top: 1px solid #BBBBBB;
        position: absolute;
        bottom: 0;
        width: 216px;
        padding: 4px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        color: #424242;
        font-size: 13px; }
      .tabs .content .friend-box.success .vote {
        background: #7ca366;
        border-top: 1px solid #5b7a4a;
        color: #fff; }
      .tabs .content .friend-box.success p.name {
        background: url(../images/icon-checkmark-white.png) no-repeat 88% 50%; }
      .tabs .content .friend-box.pending p.name {
        font-style: italic;
        font-size: 0.9em;
        text-transform: none; }
    .tabs .content p {
      margin: 0; }
      .tabs .content p.challenged {
        color: white;
        font-size: 17px;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        padding: 10px; }
        .tabs .content p.challenged .btn-yellow {
          float: left;
          font-size: 12px;
          font-weight: normal;
          margin: 0 5px;
          padding: 3px 10px 3px 10px; }
          .tabs .content p.challenged .btn-yellow span.icon {
            padding-left: 18px; }
          .tabs .content p.challenged .btn-yellow#message span {
            background: url(../images/icon-message.png) no-repeat 0 2px; }
          .tabs .content p.challenged .btn-yellow#invite {
            margin-right: 20px; }
            .tabs .content p.challenged .btn-yellow#invite span {
              background: url(../images/icon-invite.png) no-repeat 0 1px; }
          .tabs .content p.challenged .btn-yellow span {
            height: 15px;
            width: 12px; }
      .tabs .content p.first {
        padding-top: 8px; }
      .tabs .content p.view-history {
        font-style: italic;
        color: #595959;
        font-size: 12px;
        padding-top: 2px; }
  .tabs a.btn-red {
    float: right;
    font-size: 0.9em;
    margin-right: 30px; }
    .tabs a.btn-red span {
      font-size: 0.85em; }

.autocomplete-field {
  border: 1px solid #727272;
  border-radius: 4px;
  padding: 6px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #525252;
  background: white url("../images/search-glass.png") 97% center no-repeat;
  display: none; }
  .autocomplete-field:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 5px #f8cc41;
    -moz-box-shadow: 0 0 5px #f8cc41;
    -ms-box-shadow: 0 0 5px #f8cc41;
    -o-box-shadow: 0 0 5px #f8cc41;
    box-shadow: 0 0 5px #f8cc41; }

.custom-stakes-field {
  border: 1px solid #727272;
  border-radius: 4px;
  padding: 6px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #525252;
  width: 350px; }
  .custom-stakes-field:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 5px #f8cc41;
    -moz-box-shadow: 0 0 5px #f8cc41;
    -ms-box-shadow: 0 0 5px #f8cc41;
    -o-box-shadow: 0 0 5px #f8cc41;
    box-shadow: 0 0 5px #f8cc41; }

.actions {
  background: #DEDEDE;
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 0; }
  .actions .player-select {
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 20px; }
    .actions .player-select li {
      border-bottom: none;
      margin: 0;
      padding: 0;
      list-style-type: circle;
      padding: 3px;
      max-width: 425px;
      clear: both; }
    .actions .player-select .player-preview, .actions .player-select .player-preview2 {
      margin-top: 15px;
      overflow: hidden;
      float: left;
      padding: 3px;
      max-width: 315px; }
      .actions .player-select .player-preview li, .actions .player-select .player-preview2 li {
        border: 1px solid; }
      .actions .player-select .player-preview img, .actions .player-select .player-preview2 img {
        float: left;
        margin-right: 7px; }
      .actions .player-select .player-preview .text, .actions .player-select .player-preview2 .text {
        float: right; }
        .actions .player-select .player-preview .text h5, .actions .player-select .player-preview2 .text h5 {
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          margin-top: 4px; }
        .actions .player-select .player-preview .text p, .actions .player-select .player-preview2 .text p {
          margin: 0;
          color: #5D5D5D;
          text-shadow: none;
          font-size: 13px; }
  .actions .player-challenge-custom {
    float: left;
    margin-top: 4px;
    margin-left: 20px; }
  .actions .game-select-custom, .actions .game-pick-custom, .actions .game-challenge-custom, .actions .team-pick-custom, .actions .team-challenge-custom, .actions .stakes-drop-custom, .actions .custom-stakes-field {
    float: left;
    margin-top: 4px;
    margin-left: 20px; }
  .actions li {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #ACACAC;
    overflow: hidden;
    padding: 20px 20px; }
    .actions li span {
      font-size: 22px;
      color: #545454;
      margin-left: 10px;
      margin-right: 10px;
      font-style: italic; }
    .actions li .option-1, .actions li .option-2 {
      float: left;
      width: 240px; }
      .actions li .option-1 h4, .actions li .option-2 h4 {
        margin: 0;
        padding-left: 37px;
        font-weight: normal;
        font-size: 17px;
        margin-top: -27px; }
      .actions li .option-1 small, .actions li .option-2 small {
        padding-left: 37px;
        font-size: 11px; }
    .actions li .option-1 {
      margin-left: 20px; }
    .actions li .name {
      float: left;
      text-align: right;
      width: 140px; }
      .actions li .name h3 {
        font-size: 18px;
        color: #303030;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
        margin: 0; }
    .actions li small {
      font-size: 12px;
      color: #595959; }

.categories {
  margin-top: 25px;
  margin-left: 20px; }
  .categories a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    padding: 6px 12px;
    background: url("../images/category-inactive.png") repeat-x;
    border: 1px solid #262626;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .categories a:hover {
      color: #F3CF4C; }
    .categories a.active {
      background: url("../images/category-active.png") repeat-x;
      color: #262626;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      position: relative; }
      .categories a.active:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #FCB300;
        position: absolute;
        bottom: -6px;
        left: 62px; }

.explanation {
  margin-top: 25px;
  padding: 0 20px;
  overflow: hidden; }
  .explanation p {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 1.3em; }

/* wrapper divs */
.custom-checkbox, .custom-radio {
  position: relative; }

/* custom select box styles */
.custom-select {
  float: left;
  position: relative; }
  .custom-select select {
    visibility: hidden;
    position: absolute; }
  .custom-select .box {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: bold;
    background: #2f2f2f url("../images/category-inactive.png") repeat-x;
    padding: 6px 13px;
    padding-right: 45px;
    border: 1px solid #262626;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    /* min-width: 300px; this should be set on a box-by-box basis in plugin options */ }
    .custom-select .box:hover {
      -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      -ms-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      -o-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
  .custom-select .arrow {
    background: url("../images/arrow.png") no-repeat;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    padding-right: 5px;
    display: block;
    position: absolute;
    right: 2px;
    top: 14px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .custom-select .divider {
    background: url("../images/divider.png") no-repeat;
    width: 2px;
    height: 26px;
    display: block;
    margin: 0 10px;
    position: absolute;
    right: 21px;
    top: 3px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .custom-select ol {
    margin: 0;
    padding: 0 !important;
    background: #2E2E2E !important;
    margin-top: -2px !important;
    padding-top: 2px !important;
    color: white !important;
    border-radius: 0 0 4px 4px !important;
    -webkit-box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    overflow-y: auto;
    position: relative;
    z-index: 0 !important;
    max-height: 300px !important; }
    .custom-select ol .stripe {
      background: #343434; }
    .custom-select ol li {
      list-style-type: none !important;
      padding: 7px !important;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6) !important;
      cursor: pointer !important;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      font-size: 13px !important;
      border: none !important; }
      .custom-select ol li:last-child {
        border-bottom: none !important;
        border-radius: 0 0 4px 4px !important; }
      .custom-select ol li:hover {
        color: #F6CA3C !important;
        background: #454545 !important; }

.pvp {
  display: none; }

.double, .double2, .double3 {
  float: none;
  max-width: 200px;
  display: inline-block; }
  .double .trigger, .double2 .trigger, .double3 .trigger {
    position: absolute;
    width: 152px;
    height: 30px;
    z-index: 4;
    cursor: pointer; }
  .double .box, .double2 .box, .double3 .box {
    overflow: hidden;
    padding-bottom: 5px; }
    .double .box p, .double2 .box p, .double3 .box p {
      font-size: 14px;
      margin-bottom: 0; }
  .double .lighter-custom, .double .lighter2-custom, .double .lighter3-custom, .double .lighter4-custom, .double2 .lighter-custom, .double2 .lighter2-custom, .double2 .lighter3-custom, .double2 .lighter4-custom, .double3 .lighter-custom, .double3 .lighter2-custom, .double3 .lighter3-custom, .double3 .lighter4-custom {
    float: left;
    min-width: 172px;
    margin-bottom: 2px; }
    .double .lighter-custom .box, .double .lighter2-custom .box, .double .lighter3-custom .box, .double .lighter4-custom .box, .double2 .lighter-custom .box, .double2 .lighter2-custom .box, .double2 .lighter3-custom .box, .double2 .lighter4-custom .box, .double3 .lighter-custom .box, .double3 .lighter2-custom .box, .double3 .lighter3-custom .box, .double3 .lighter4-custom .box {
      background: #454545 url("../images/dropdown-lighter.png") repeat-x !important;
      padding-bottom: 5px;
      padding-top: 4px; }
    .double .lighter-custom .divider, .double .lighter2-custom .divider, .double .lighter3-custom .divider, .double .lighter4-custom .divider, .double2 .lighter-custom .divider, .double2 .lighter2-custom .divider, .double2 .lighter3-custom .divider, .double2 .lighter4-custom .divider, .double3 .lighter-custom .divider, .double3 .lighter2-custom .divider, .double3 .lighter3-custom .divider, .double3 .lighter4-custom .divider {
      top: 1px;
      display: block !important;
      background: url("../images/divider-lighter.png") no-repeat; }
  .double.down .trigger, .double2.down .trigger, .double3.down .trigger {
    width: 200px; }
  .double.down .box, .double2.down .box, .double3.down .box {
    background: #2e2e2e url("../images/dropdown-double-length.png") repeat-x; }
  .double.down .arrow.first, .double2.down .arrow.first, .double3.down .arrow.first {
    -webkit-transform: rotate(-180deg); }
  .double.down p, .double2.down p, .double3.down p {
    margin-bottom: 7px; }
  .double.down .divider, .double2.down .divider, .double3.down .divider {
    display: none; }
  .double .extra-boxes, .double2 .extra-boxes, .double3 .extra-boxes {
    display: none; }

.challenge1-custom .box {
  font-size: 20px;
  background-color: #2E2E2E; }
.challenge1-custom .divider {
  top: 7px;
  right: 30px; }
.challenge1-custom .arrow {
  top: 18px;
  right: 12px; }

/* custom radio button styles */
.custom-radio {
  width: 33px;
  height: 30px;
  overflow: hidden; }
  .custom-radio input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0; }
  .custom-radio label {
    position: relative;
    display: block;
    z-index: 1;
    background: url(../images/radio-button.png) no-repeat;
    background-position: -2px 3px;
    height: 15px;
    width: 15px;
    padding-right: 1em;
    line-height: 1;
    padding: .5em 0 .5em 13px;
    margin: 0 0 0 0;
    cursor: pointer; }
  .custom-radio .radio-1 {
    float: right;
    margin-top: 4px; }
  .custom-radio .radio-2 {
    float: left;
    margin-top: 4px; }

.custom-radio label.hover,
.custom-radio label.focus {
  background-position: -2px -98px; }

.custom-radio label.checked {
  background-position: -2px -197px; }

.custom-radio label.focus {
  outline: 1px dotted #ccc; }

.custom-radio input {
  visibility: hidden; }

.toc {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 22px;
  margin-left: 40px;
  color: #F5C93E; }

.tocindex {
  margin-bottom: 30px; }
  .tocindex a {
    text-decoration: none;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
    .tocindex a:hover {
      color: #F5C93E !important; }

.warning {
  position: absolute;
  color: white;
  z-index: 50;
  background: #963224;
  /* The Fallback */
  background: rgba(150, 50, 36, 0.9);
  padding: 10px 12px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  display: none; }
  .warning:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(150, 50, 36, 0.9);
    position: absolute;
    bottom: -8px;
    left: 79px; }

.no-challenges {
  font-size: 16px;
  padding-left: 20px !important; }

.getting-started {
  background: #FAFAFA;
  position: absolute;
  top: 0px;
  left: 55px;
  width: 590px;
  z-index: -101;
  padding: 25px 30px;
  opacity: 0; }
  .getting-started .text {
    width: 410px;
    float: left;
    color: #454545;
    font-size: 14px;
    line-height: 1.3em;
    padding-left: 4px;
    padding-right: 20px; }
  .getting-started h1 {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: #4E4E4E;
    color: #FACE3A;
    padding: 3px;
    padding-left: 10px;
    font-size: 24px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
  .getting-started .close {
    position: absolute;
    top: -7px;
    right: -11px;
    font-size: 18px;
    color: #CACACA;
    font-weight: bold;
    background: #4E4E4E;
    padding: 4px 10px;
    border-radius: 25px;
    border: 3px solid #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .getting-started .close:hover {
      color: #FACE3A; }

.body-overlay {
  background: #000;
  opacity: .7;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#fb_comments {
  background: #fff;
  min-height: 299px;
  overflow-y: auto; }

#fb_comments iframe {
  overflow-y: auto; }

.dropdown .player-preview {
  float: left;
  min-width: 200px;
  margin: 0 0 7px 30px; }
  .dropdown .player-preview img {
    float: left;
    margin-right: 10px; }
  .dropdown .player-preview .text {
    float: left; }
    .dropdown .player-preview .text h5 {
      margin: 0;
      font-size: 18px;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      margin-bottom: 4px; }

.hilight-box .custom-select .box {
  font-size: 25px;
  padding-bottom: 9px; }
.hilight-box .custom-select .arrow {
  right: 4px;
  top: 23px; }
.hilight-box .custom-select .divider {
  right: 24px;
  top: 11px; }
.hilight-box .custom-select.double .box, .hilight-box .custom-select.double .lighter-custom .box {
  font-size: 14px;
  padding-bottom: 7px; }
.hilight-box .custom-select.double .arrow, .hilight-box .custom-select.double .lighter-custom .arrow {
  right: 2px;
  top: 16px; }
.hilight-box .custom-select.double .divider, .hilight-box .custom-select.double .lighter-custom .divider {
  right: 21px;
  top: 3px; }
.hilight-box .custom-select.double .trigger, .hilight-box .custom-select.double .lighter-custom .trigger {
  width: 200px; }

.tc1 {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  margin-right: 20px; }

.spc1 {
  width: 580px !important; }
  .spc1 .double {
    float: left; }
  .spc1 ol {
    list-style-type: none; }
  .spc1 .player-preview {
    float: left;
    padding: 7px;
    margin-left: 30px;
    min-width: 200px; }
    .spc1 .player-preview .not-picked {
      margin-top: -13px; }
    .spc1 .player-preview img {
      float: left;
      margin-right: 10px; }
    .spc1 .player-preview .player-photo {
      max-width: 65px; }
    .spc1 .player-preview .text {
      float: left; }
    .spc1 .player-preview h5 {
      margin: 5px 0 3px 0;
      font-size: 20px;
      color: #292929;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }
    .spc1 .player-preview p {
      color: #292929;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }
    .spc1 .player-preview .not-picked-text {
      font-size: 18px;
      color: #b27e05;
      margin: -3px 0 0 37px;
      opacity: .6;
      font-weight: bold; }

.tc2 {
  margin-top: 20px; }

.challenges h5 {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) !important; }

.dropdown .custom-select {
  float: left; }

body.tab {
  background: none;
  font-family: 'myriad-pro'; }

#tab-content {
  width: 520px;
  background: url("../images/tab-bg.jpg") no-repeat;
  height: 490px;
  position: relative; }
  #tab-content #create-challenge {
    position: absolute;
    top: 410px;
    left: 71px; }
  #tab-content a {
    display: block;
    text-indent: -9000px;
    background: url("../images/tab-cta.png") no-repeat;
    width: 381px;
    height: 58px; }
    #tab-content a:hover {
      background-position: 0 -58px; }

/* Styles for challenge pages */
.notify {
  background: #fff;
  padding: 7px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center; }
