* {
 margin: 0;
 padding: 0;
 border: 0;   
}

body {
  background: #fff;
  font-size: 12px;
  font-family: Arial;
  color: #444;
}

div.clear {
  clear: both;
}

.hidden {
  display: none;
}

div.dotted_line {
  width: auto;
  height: 1px;
  border-bottom: 1px dotted #555;
  margin: 20px 0;
}

div.overlay {
  position: absolute;
  z-index: 5000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.overlay div.holder {
  width: 450px;
  height: 280px;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
}

div.overlay ul {
  width: auto;
  height: 250px;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #bbb;
}

div.overlay ul li {
  float: left;
  width: 45%;
  padding: 5px;
  border-bottom: 1px dotted #999;
}

div.overlay ul li.selected {
  background-color: #ddd;
}

div.overlay div.thumb {
  width: 50px;
  height: 50px;
}

/* Input Styles */

input.create {
  background-color: #f8f8f8;
  border: 1px solid #dbdbdb;
  padding: 4px;
  font-size: 12px;
  color: #444;
  margin-bottom: 4px;
  width: 250px;
}


/* Links & Buttons */
div.button, a.button {
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #555;
  padding: 5px 20px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

div.button:hover, a.button:hover {
  text-decoration: underline;
}

div.button {
  width: 120px;
}

a.tab {
  padding: 6px 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #ddd;
  color: #555;
  font-size: 16px;
  text-decoration: none;
}

a.tab:hover {
  text-decoration: underline;
}

a.tab.active {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* Containers & Titles */
div#container {
  margin: 0 auto;
  width: 740px;
}

h1,h2 {
  width: auto;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

h2 {
  text-align: right;
  background-color: #888;
  font-size: 14px;
}

h2 a {
  font-size: 14px;
  color: #fff;
}

div#intro {
  margin: 10px 0;
  width: 600px;
  text-align: left;
  padding: 10px;
  background-color: #eee;
  line-height: 18px;
}

div#content {
  margin: 0 0 10px 0;
  width: auto;
  text-align: left;
  padding: 10px;
  background-color: #eee;
  line-height: 18px;
}

div.title {
  margin: 10px 0 20px 0;
  font-size: 24px;
}

div.box {
  width: auto;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 4px;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  padding: 20px;
}

ul.challenges {
  width: auto;
  margin: 10px;
  list-style-type: none;
}

ul.challenges li {
  width: auto;
  border-bottom: 1px dotted #555;
  padding: 10px;
}

ul.challenges li.sponsored {
  background-color: #eee;
}

ul.challenges li div.expand {
  padding: 1px 5px;
  color: #eee;
  background-color: #333;
  font-color: #eee;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  float: left;
}

ul.challenges li div.expand:hover {
  color: #fff;
  background-color: #000;
}

ul.challenges li div.details {
  float: left;
  width: 620px;
  font-size: 12px;
  margin: 1px 0 0 10px;
}

/* Create Challenge Stuff */

div.challengeLinks {
  margin: 0 0 20px 0;
}

a.challengeLink {
  padding: 6px 20px;
  text-align: center;
  background-color: #aaa;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

a.challengeLink:hover {
  text-decoration: underline;
}

a.challengeLink.active {
  background-color: #777;
}

div.form_title {
  float: left;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: right;
  margin-right: 15px;
}

div.form_options {
  float: left;
  width: 400px;
  min-height: 30px;
  font-size: 12px;
  color: #555;
  font-weight: bold;
}

div.mypickpreview {
  width: auto;
  background: #eee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: left;
  padding: 10px 20px;
  font-size: 18px;
  color: #555;
  margin-top: 15px;
}

/* Response Stuff */

div.responseBox {
  width: auto;
  border: 10px solid #000;
  background-color: #f8f8f8;
  padding: 15px;
}

div.third {
  float: left;
  width: 33%;
}

div.half {
  float: left;
  width: 50%;
}

div.thumb {
  float: left;
  width: 65px;
  height: 90px;
  background-color: #ddd;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #aaa;
  margin-right: 5px;
  background-position: center center;
}

div.challengeBox {
  width: auto;
  padding: 10px;
  background-color: orange;
  text-align: center;
  margin-bottom: 15px;
}

div.challengeBox h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

div.cbLeft {
  float: left;
  width: 45%;
  text-align: right;
}

div.cbLeft div.thumb {
  float: right;
  margin: 0 0 0 5px;
}

div.cbMid {
  float: left;
  width: 9%;
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
}

div.cbRight {
  float: left;
  width: 45%;
  text-align: left;
}

div.your {
  float: left;
  background-color: #eee;
  margin-right: 5px;
  margin-bottom: 15px;
  min-height: 130px;
}

div.your h4 {
  width: auto;
  padding: 5px 20px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-align: left;
  background-color: #444;
}

div.your.pick {
  width: 49%;
  margin-right: 5px;
}

div.your.stakes {
  width: 49%;
}

div.your div.thumb {
  margin: 5px;
}

div#submit_response,
div.invite_friends {
  margin: 0 auto;
}

div.challenger .thumb {
  width: 50px;
  height: 50px;
}


/* Administrator Stuff */

ul.admin {
  width: auto;
  list-style-type: none;
  padding: 0;
}

ul.admin li {
  width: auto;
  padding: 6px;
  background-color: #f8f8f8;
  color: #333;
  border: 1px solid #fff;
  border-bottom: none;
}

ul.admin li:hover {
  background-color: #fff;
  border-color: #f8f8f8;
}

ul.admin div.form_title {
  width: 50px;
}

ul.admin .thumb {
  margin-bottom: 80px;
}

ul.admin h1 {
  padding: 0;
  margin: 0;
}

ul.admin h1 p {
  margin: 0;
  padding: 0;
  display: inline-block;
}