<div class='intro'>
	<div class='text'>
		<h1>Start a Challenge</h1>
		<p>Play Throwdown, a football knowledge game that you can enjoy with all your friends.</p>
		<p>Show that you are smarter than your friends when it comes to football. Put up or shut up when you accept a challenge or post your own. Create and play as many challenges as you like, set the stakes and compete for the ultimate football knowledge bragging rights!</p>
	</div>
	<%= image_tag 'intro-graphic.png' %>
</div>