<div class='login'>
  <div class='corners'> 
    <div class='hilight-box'> 
      <h1> 
        <%=@challenge.challenge_expression.html_safe %>?
      </h1> 
      <div class='status private'> 
        <strong>Private Bet</strong> 
        (Only people with invites can participate)
      </div> 
    </div> 
  </div> 
  <div id='main'> 
    <div class='login-box'> 
      <div class='button'> 
        <a href='#'> 
          <img id="fb_login" alt="Fb-login" src="/images/fb-login.jpg" /> 
        </a> 
      </div> 
      <h2> 
        to participate in this challenge
      </h2> 
    </div> 
    <h3> 
    Or
    </h3> 
    <p> 
      <a class='btn-grey' href='<% welcome_index_path %>' id='create-challenge'> 
        Create your own challenge &nbsp; <span>&#9654;</span> 
      </a> 
    </p> 
  </div>
</div>

<script language="javascript">
  $('#fb_login').mouseup(function() {
    initConnect();
  })
</script>