<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="false"/>
<stringAttribute key="ATTR_LOG_LEVEL" value="Debug"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="NoozTest1"/>
<stringAttribute key="abi" value="x86"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NoozTest1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="overrideDebugPreferences" value="false"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="screen_type" value="WVGA854"/>
<stringAttribute key="sdk_version" value="Android 4.2.2"/>
</launchConfiguration>
