<div class='corners'>
  <div class='hilight-box'>
    <h1><%=@challenge.challenge_expression.html_safe %></h1>
    <div class='content'>
      <div class='center'>
        
      <!-- Show winning player @challenge.winner -->
      
      </div>
      
    </div>
  </div>
</div>

<!-- Need to handle public viewers who were not in the challenge -->

<% if (@mypick['status'] == 'pending') %>
<div id='main' class='pending'>
  <div class='sub-box your-pick'>
    
    <!-- User was invited but never came to make their selection. They might be "lost", not sure yet -->
    
  </div>
<% else %>
  <div id='main'>
    <div class='sub-box your-pick'>
      <h1>Your Pick:</h1>
      <div class='left'>
        <p class='num'><%= @mypick.response %></p>
      </div>
    </div>
<% end %>
  <div class='sub-box the-stakes'>
    <h1>The Stakes:</h1>
    <div class='left'>
      <img alt="Trophy" class="trophy" src="/images/trophy.png" />
      <h3><%=@challenge['stakes']%></h3>
    </div>
  </div>


<script language="javascript">
  
  $('.invite_friends').mousedown(function() { 
    inviteFriends();
  })
  
</script>